
#collegeheader{
	color: orange;
}

.collegelinks{
	color: white;
}

#personalheader{
	color: magenta;
	
}

.personallinks{
	color: white;
}

.noticesHeading{
	color: red;
}


h1{
	color: white;
}

h2{
	color: white;
}

body{
	text-align: center;
	color: red;
	
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url("images/bg.jpg");
}

.fixtureimage{
	width: 720px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
}

#links{
	color: blue;
}

.home{
	text-align: centre;
}

#esportsHeading{
	color: darkred;
}

#esports{
	color: white;
}
#linksHeading{
	color: red;
}
